/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
  --dark-blue : hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --text-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  max-width: 100vw;
  
}

body{
  background: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.container{
  margin: 0 100px;
}

.dark{
  background: var(--very-dark-blue);
  color: white;

  .search {
    background: var(--dark-blue);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }

  .filter-options{
    background: var(--dark-blue);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }

  nav{
    background: var(--dark-blue);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    color: white;
  }
  .country{
    background: var(--dark-blue);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
  .filter-accordion{
    background-color: var(--dark-blue);
  }
  .filter-accordion .region:hover{
    background: var(--very-dark-blue);
  }
  .button{
    background-color: var(--dark-blue);
    color: white;
  }
  .bottom p{
    background-color: var(--dark-blue);
  }
} 